#search:focus{
 outline: none;
}
#search{
  color: #6c747e;
}

/* INPUT */
.bg-input {
  background-color: #eaebff;
}

/* Merci à Lamecarlate pour l'intervention */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

#arrow-sort{
  cursor: pointer;
  fill: white;
}
